/target

# Ignore environment files with secrets
.env

# Editor / OS junk
.DS_Store

# Backup Rust files
**/*.rs.bk

AGENTS.md

/python discord bot

# So testing databases aren't included
/data/

service-account.json
.idea/